body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgoldenrodyellow;
    color: rgb(63, 84, 104);
    text-align: center;
}

.recipe{
    display: inline;
    background-color: aliceblue;
    margin: 0 30px;
    padding: 8px 24px;
}

.recipes{
    margin: auto;
    margin-right: 30px;
}

a:link{
    color: rgb(63, 84, 104);
    background-color: transparent;
    text-decoration: none;
}
